* {box-sizing: border-box;}

.arbejdsplads {
    display: flex;
    flex-direction: column;
    margin-top: -12%;
}

.full-accordion {
    display: flex;
    flex-direction: row-reverse;
}

.content-container {
    display: flex;
}

.content-accordion {
    display: flex;
    flex-direction: column;
}

.accordion-container {
    margin-top: 10%;
    width: 650px;
}

.medium-arrow-container {
    margin-right: 10px;
}
  
.accordion {
    margin-top: 15px;
}
  
.accordion-header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    width: 100%;
}

.accordion-header h4 {
    margin-left: 10px;
    margin-bottom: -30px;
}

.medium-arrow {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: solid var(--color-black);
    border-width: 0 3px 3px 0;
    transform: rotate(405deg);
    margin-left: -20px;
}

.foto-container {
    width: 1350px;
    height: 790px;
}

.foto-container img {
    width: 100%;
    height: 100%;
}

.accordion-content p {
    margin-bottom: 30px;
}

.accordion:first-of-type .accordion-header {
    border-top: 2px solid #000;
    padding-top: 15px;
}

.accordion-content{
    display: none;
    padding: 10px;
}

.accordion.active .accordion-content{ 
    display: flex;
    border-bottom: 2px solid #000;
}

.accordion.active .accordion-header{
    border-bottom: 0px;
}

.accordion.active .medium-arrow{
    transform: rotate(225deg);
}

