:root {
    --color-black: #222;
    --color-white: #fff;
    --color-blue: #0020be;
    --color-blue-light: #9cf;
    --color-blue-lightest: #dcedf5;
    --color-violet: #201b59;
    --color-violet-light: #d0bbe6;
    --color-violet-lightest: #ecebff;
    --color-green: #04393b;
    --color-green-light: #8ecfd2;
    --color-green-lightest: #dcf0f0;
    --color-grey: #3c464c;
    --color-grey-light: #c8d0da;
    --color-grey-lightest: #e9ecee;
    --color-red: #593244;
    --color-red-light: #e64652;
    --color-red-lightest: #ffe6e6;
    --color-error: #c80000;
    --color-dark: #2c2c2c;
}


body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.4rem;
    color: var(--color-black);
    margin: 0;
}

main section{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 100px;
}


h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    margin: 0;
    padding-bottom: 50px;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.03rem;
    margin: 0;
    padding-bottom: 20px;
}

h4 {
    font-size: 1.4rem;
    font-weight: 350;
    letter-spacing: -0.03rem;
    margin: 0;
    padding-bottom: 50px;
}

h5 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
    margin: 0;
    padding-bottom: 10px;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    margin: 0;
    line-height: 1.5;
}

.phero{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: -0.03rem;
    margin: 0;
    line-height: 1.5;
}

.pxs {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

li {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: -0.03rem;
    margin: 0;
    padding: 0;
    padding-top: 7px;
}

button {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-black);
    background: 0;
    border: #222 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.5rem;
    margin-top: 30px;
    cursor: pointer;
}

header{
    background-color: var(--color-green);
    color: var(--color-white);
    padding-left: 30px;
    padding-right: 30px;
}

.headerflex{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

header h1{
    padding-top: 35px;
    padding-bottom: 35px;
    color: var(--color-green-lightest);
}

.videocontainer{
    background-color: var(--color-green);
    color: var(--color-green-lightest);
    padding-bottom: 50px;
}

.videobox{
    background-color: #c8d0da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.introflex{
    background-color: var(--color-green);
    color: var(--color-green-lightest);
}

.introflex article{
    padding-bottom: 50px;
}

.introflex ul{
    padding-bottom: 50px;
}

.services h2{
    padding-top: 50px;
}

.services-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services img{
    max-width: 100%;
    max-height: 500px;
}

.services h5{
    padding-top: 30px;
}

.kontakt-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kontakt-flex h3{
    padding: 0;
    padding-top: 40px;
}

.kunder{
    background: var(--color-grey-lightest);
}

.logo-stor{
    display: none;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img{
    max-width: 100%;
    max-height: 300px;

}

.projekt-container{
    background-color: var(--color-green);
    height: 100px;
}

.teamwork-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.teamwork-foto{
    max-width: 100%;
    object-fit:cover;
    align-self: stretch;
    
}


.medarbejdere{
    background-color: var(--color-red);
    color: var(--color-red-lightest);
}

.medarbejder-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medarbejder-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.medarbejder-container{
    display: flex;
    align-items: flex-start;
    max-width: 390px;
    max-height:440px;
    overflow: hidden;
}

.medarbejder-container img{
    width: 100%;
    object-fit: cover;
}

.medarbejder-om{
    padding-top: 20px;
    align-self: start;
}

.medarbejder-kontakt{
    padding-top: 20px;
}

.medarbejder-kontakt :last-child:hover{
    text-decoration: underline;
}

.seflere-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.seflere-btn{
    color: var(--color-red-lightest);
    border-color: var(--color-red-lightest); 
}

.ledig-stilling h2{
    padding-bottom: 30px;
}

.ledig-stilling hr{
    margin-top: 50px;
    border: 1px solid var(--color-black);
    margin-bottom: 80px;
}
.ledig-stilling a p{
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.se-mere{
    display: flex;
    cursor: pointer;
}

.se-mere:hover{
    text-decoration: underline;
}

.small-arrow-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.small-arrow {
    position: absolute;
    width: 7px;
    height: 7px;
    border: solid var(--color-black);
    border-width: 0 1px 1px 0;
    display: inline-block;
    rotate: 315deg;
    margin-left: 11px;
    border-radius: 0px 0px 2px 0px;
}

.small-tail {
    width: 20px;
    height: 1px;
    background-color: var(--color-black);
}


.kontakt{
    background-color: var(--color-violet);
    color: var(--color-violet-light);
}


.inputfelter input{
    background: none;
    border: none;
    border-bottom: var(--color-violet-light) 1px solid;
    color: var(--color-violet-light);
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}


label{
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
}

.input-flex{
    padding-bottom: 20px;
}

.emne-input{
    margin-bottom: 30px;
}

.emne-input *{
    width: 100%;
    max-width: 500px;
}

.emne-input button{
    border: var(--color-violet-light) solid 1px;
    color: var(--color-violet-light);
    margin-top: 10px;
    padding: 5px;
}

.emne-input select{
    background: none;
    color: var(--color-violet-light);
    border: var(--color-violet-light) solid 1px;
}

.vilkaar .pxs{
    margin-left: 50px;
}

.custom-checkbox p{
    margin-left: 30px;
}

.custom-checkbox{
    display: flex;;
}
/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the label as a custom checkbox */
.custom-checkbox label {
    display: inline-block;
    align-self: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-violet-light);
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Create the checkmark/indicator (hidden by default) */
.custom-checkbox label::after {
    content: '';
    display: none;
    width: 6px;
    height: 12px;
    border: solid var(--color-violet-light);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    left: 6px;
    top: 0.5px;
}

/* Show the checkmark/indicator when checked */
.custom-checkbox input[type="checkbox"]:checked + label::after {
    display: block;
}

.submit{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-violet-light);
    background: 0;
    border: var(--color-violet-light) solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.5rem;
    margin-top: 30px;
    cursor: pointer;
}

.viden{
    background-color: var(--color-grey-lightest);
}

footer{
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--color-grey-lightest);
    padding-top: 70px;
    padding-bottom: 30px;
}

footer h3{
    padding: 0;
}

footer b{
    padding-bottom: 5px;
}

.footer-container{
    display: grid;
    padding-top: 30px;
    grid-template-areas:
    'i i'
    'k o'
    'm a'
    ;
}

.footer-container div{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.kontakt-info{
    grid-area: i;
}

.koebenhavn{
    grid-area: k;
}

.odense{
    grid-area: o;
}

.malmoe{
    grid-area: m;
}

.andet-info{
    grid-area: a;
}

@media only screen and (min-width: 800px) {

    header{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    main section{
        padding-left: 50px;
        padding-right: 50px;
    }

    footer{
        padding-left: 50px;
        padding-right: 50px;
    }

    h1{
        font-size: 4.8rem;
    }

    h2{
        font-size: 3.8rem;
    }

    .introflex{
        display: flex;
        flex-direction: row-reverse;
    }

    .introflex article{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        flex: 2;
    }

    .introflex article *{
        max-width: 800px;
        width: 100%;
    }

    .introflex nav{
        flex: 1;
    }

    .services-flex{
        display: flex;
        flex-direction: row-reverse;
    }
    .services-img-container{
        flex: 1;
        padding-left: 50px;
    }

    .services-text{
        flex: 1;
    }

    .logo-stor{
        display: block;
    }
    .logo-lille{
        display: none;
    }

    .arbejdsplads-flex{
        display: flex;
        flex-direction: row-reverse;
    }

    .teamwork-container{
        padding-left: 40px;
    }

    .medarbejder-flex{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        gap: 20px;
    }

    .ledig-stilling h2{
        font-size: 3rem;
    }

    .ledig-stilling{
        margin-left: 150px;
        margin-right: 150px;
    }

    .input-flex{
        display: flex;
        width: 70vw;
        max-width: 1000px;
    }

    .inputfelter input{
        min-width: 300px;
    }

    .input-column:last-child{
        margin-left: 50px;
    }

    .input-column{
        width: 100%;
    }

    .vilkaar .pxs{
        max-width: 700px;
    }

}












