
/*.body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:darkseagreen;
}

.arrow-container {
    position: relative;
    display: flex;
    align-items: center;
}

.arrow-wrapper{
    transform: rotate(315deg);
    display: flex;
}

.arrow {
    position: relative;
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 3px 0 0 3px;
    display: inline-block; 
    transition: 0.3s ease-in-out; 
}

.tail {
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: black;
    transition: 0.3s ease-in-out;
}

.arrow-container:hover .tail {
    width: 115px; 
    transform: translate(-15px);
}

.arrow-container:hover .arrow {
    transform: translate(-10px, -10px);
}


.arrow-container-right{
    transform: rotate(180deg);
    position: relative;
    display: flex;
    align-items: center;
}

.arrow-container-right:hover .tail {
    width: 115px; 
    transform: translate(-15px);
}

.arrow-container-right:hover .arrow {
    transform: translate(-10px, -10px);
}*/



